<div class="row">
  <div class="col-md-4 order-md-1 mb-4">
    <h4 class="d-flex justify-content-between align-items-center mb-3">
      <span class="text-muted">Sales Unit</span>
    </h4>
    <app-salesunit (bookingEvent)="selectedSaleUnitBookingResponse=$event"></app-salesunit>
  </div>
  <div class="col-md-8 order-md-2">
    <app-booking *ngIf="selectedSaleUnitBookingResponse; else infoText" [saleUnitbookingResponse]="selectedSaleUnitBookingResponse"></app-booking>
    <ng-template #infoText>
      <h4 class="d-flex justify-content-between align-items-center mb-3">
        <span class="text-muted">Bookings is not available</span>
      </h4>
      <div class="alert alert-warning" role="alert">
        Please select one sale unit
      </div>
    </ng-template>
  </div>
</div>
